{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"]
}
